body{
	background:rgb(29, 29, 29) !important;
	color:rgb(255, 255, 255)!important;
} 


.container{
	display: grid !important;
	grid-template-columns: repeat(3, 1fr) !important;
	grid-gap: 10px !important
}

@media  (max-width:500px){
	.container{
		max-width: 100% !important;
		grid-template-columns: repeat(1, 1fr) !important;
	}
}
